body {
    background-color: coral;
}


h1 {
    color: red;
    background-color: black;
    text-align: center;
}

p {
    color: blue;
    text-align: center;
    background-color: rgb(2, 207, 105);
}

.box {
    background: yellow;
}

#title {
    font-size: 28px;
}

ul li {
    color: green;
}

a:hover {
    color: orange;
}

/* 6 */
input[type="text"] {
    border: 2px solid black;
}

div p {
    color: purple;
}

* {
    font-family: Arial;
}

h2,
h3 {
    color: pink;
}